# Seu token do bot no Discord
DISCORD_TOKEN=seu_token_aqui

# (Opcional) ID do Servidor (Guild) para registrar os comandos imediatamente (útil para desenvolvimento local).
# Deixe em branco para registrar globalmente (pode demorar até 1h).
GUILD_ID=seu_guild_id_aqui
